<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    
     <div class="main-content">
    {{>header}}
    <p> Page made by Gonxalo in collaboration with Weatherstack and Geocode</p>   
    <img class="portrait" src="/img/dni.jpeg">
    {{>footer}}
    </div>
</body>

</html>

