<header> 
    <img class="logo" src="img/sun.png" alt="logo">  
    <h3> {{title}}</h3>    
    <ul class="nav-bar">
   <li> <a class="nav__links" href='/'>Home</a></li> 
   <li> <a class="nav__links" href='/about'>About</a></li>
   <li> <a class="nav__links" href='/help'>Help</a></li>
    </ul>
</header>