@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
    color: #333333;
    font-family: arial;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #aa4400;
    color: whitesmoke;    
    margin-top: 16px;
}

header h3 {
    margin: 16px; 
    font-family:  'Limelight', cursive;
}
.nav-bar li {      
    display:inline-block;
    color: whitesmoke;    
    margin-right: 16px;
}

.portrait {
    width: 250px;
}

.logo {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

.search-bar {
    background-color: wheat;
    padding: 8px;
}

.search-bar button {
    border-style: none;
    padding: 4px;
}

.search-input {
    border-style: none;
    border-radius: 3%;
    padding: 4px;
}

.message-container {
    background-color: yellow;
    padding: 48px;
}

#message-one {
    display: flex;
    font-weight: bold;
    font-size: 24px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

li, a {
    color: whitesmoke;    
    text-decoration: none;
    list-style: none;
}